#detail-portfolio > .wrapper {
  width: 60%;
}
#detail-portfolio > .wrapper > img {
  margin: auto;
  width: 100%;
  border-radius: 30px;
}
#detail-portfolio > .wrapper > p.skill {
  text-align: center;
  font-size: 1.5rem;
  color: #222831;
}

#detail-portfolio > .wrapper > p.site {
  text-align: center;
  font-size: 1.5rem;
  color: #222831;
  border-radius: 10px;
}

#detail-portfolio > .wrapper > p.information {
  text-align: center;
  font-size: 1.5rem;
  color: #222831;
}

.button-style {
  display: inline-block; /* Allows padding and margin to work correctly */
  padding: 10px 20px;
  background-color: #39404a;
  color: white;
  text-decoration: none; /* Remove default link underline */
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none; /* Remove default button border if you were using a button element */
}

.button-style:hover {
  background-color: #525c6b;
}
